$ancor          :#192335;
$white          :#ffffff;
$samewhite      :#d5d5d5;
$samewhitetr    :#f4f4f4;
$deepYellow     :#ff8f3c;
$h4             :#b966e7;
$h4back         :#F6EBFC;
$h2             :#170909;
$green          :#7E63F6;