#cliants{
    .cliants_heading{
        text-align: center;
        h4{
            @include h4;
        }
        h2{
            @include h2;
        }
    }
    .param{
        display: flex;
        overflow-x: hidden;
        .animat2{
            display: flex;
            width: 500%;
            animation: rightt 40s linear infinite;
            background-position: left;
            background-repeat: repeat-x;
            margin: 5px 0;
            .clientItem{
                margin: 0 5px;
                width: 500px;
                text-align: center;
                padding:40px 20px;
                box-shadow: 0 0 5px 1px #dddddd;
                margin-top: 20px;
                .star2Icon{
                    width: 100%;
                    max-height: 310px;
                    text-align: center;
                    margin-bottom: 10px;
                    i{
                        color:$deepYellow;
                        font-size: 16px;
                        margin-right: 7px;
                    }
                    .p18{
                        @include p18;
                    }
                }
                .evatImg{
                    display: block;
                    margin: auto;
                    width: 100%;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap:10px;
                    margin-top: 20px;
                    
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 2px solid $green;
                    }
                    .envTxt{
                        display: inline-block;
                        font-size: 14px;
                        text-transform: capitalize;
                    }
                }
            }
            .cl_two{
                background: linear-gradient($green,$deepYellow);
            }
        }
        @keyframes rightt {
            0%{
                transform: translate(-3000px);
            }
            100%{
                transform: translateX(0px);
            }
        }

    }
    .param2{
        display: flex;
        overflow-x: hidden;
        background-position: right;
        .animat2{
            display: flex;
            width: 500%;
            animation: rightt2 40s linear infinite;
            margin: 5px 0;
            .clientItem{
                margin: 0 5px;
                width: 500px;
                text-align: center;
                padding:40px 20px;
                box-shadow: 0 0 5px 1px #dddddd;
                margin-top: 20px;
                .star2Icon{
                    width: 100%;
                    max-height: 310px;
                    text-align: center;
                    margin-bottom: 10px;
                    i{
                        color:$deepYellow;
                        font-size: 16px;
                        margin-right: 7px;
                    }
                    .p18{
                        @include p18;
                    }
                }
                .evatImg{
                    display: block;
                    margin: auto;
                    width: 100%;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap:10px;
                    margin-top: 20px;
                    
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 2px solid $green;
                    }
                    .envTxt{
                        display: inline-block;
                        font-size: 14px;
                        text-transform: capitalize;
                    }
                }
            }
            .cl_two{
                background: linear-gradient($green,$deepYellow);
            }
        }
        @keyframes rightt2 {
            0%{
                transform: translateX(0px);
            }
            100%{
                transform: translateX(-3000px);
            }
        }

    }
}