#top_notch_feature{
    padding: 100px 0;
    .notch_heading{
        text-align: center;
        h4{
            @include h4;
        }
        h2{
            @include h2;
        }
        .p16{
            @include p18;
        }
    }
    .notch_item{
        background: linear-gradient(90deg, rgb(86, 79, 189),rgb(156, 95, 155));
        padding: 30px 0 5px 30px;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 30px;
        img{
            width: 100%;
        }
        h5{
            text-transform: capitalize;
            color:$white;
        }
        .p16{
            @include p16;
            color:$samewhite;
        }
    }
    .notch_item1{
        padding: 30px;
        display: flex;
        flex-direction: column-reverse;
        img{
            display: block;
            margin-bottom: 20px;
        }
    }
}